@import '~@/style/mixins.scss';
@import '~@/style/variables.scss';
.shop__content {
  position: absolute;
  left: 0;
  right: 0;
  top: 1.46rem;
  bottom: .5rem;
  display: flex;
  &__categorys {
    width: .74rem;
    overflow-y: scroll;
    background: $default-bg-color;
  }
  &__category {
    line-height: .4rem;
    text-align: center;
    font-size: .14rem;
    color: $main-text-color;
    &--active {
      background: $light-color;
    }
  }
  &__products {
    flex: 1;
    padding: 0 .18rem 0 .16rem;
    overflow-y: scroll;
  }
  .shop__product {
    position: relative;
    display: flex;
    padding: .12rem 0;
    border-bottom: .01rem solid $main-border-color;
    &__img {
      margin-right: .16rem;
      width: .68rem;
      height: .68rem;
    }
    &__title {
      line-height: .2rem;
      font-size: .14rem;
      font-family: PingFangSC-Medium;
      color: $main-text-color;
    }
    &__sales {
      margin: .06rem 0;
      line-height: .16rem;
      font-size: .12rem;
      color: $main-text-color;
    }
    &__price {
      line-height: .2rem;
      font-size: .14rem;
      color: $highlight-text-color;
    }
    &__yen {
      font-size: .1rem;
    }
    &__origin {
      margin-left: .06rem;
      font-size: .1rem;
      color: $light-text-color;
      text-decoration: line-through;
    }
    .product__number {
      position: absolute;
      right: 0;
      bottom: .12rem;
      &__minus, &__plus {
        display: inline-block;
        width: .2rem;
        height: .2rem;
        border-radius: 50%;
        font-size: .2rem;
        line-height: .16rem;
        text-align: center;
      }
      &__minus {
        border: .01rem solid $medium-text-color;
        margin-right: .05rem;
      }
      &__plus {
        margin-left: .05rem;
        background: $primary-btn-color;
        color: $light-color;
      }
    }
  }
}