$main-text-color: #333;
$medium-text-color: #666;
$light-text-color: #999;
$deep-text-color: #000;

$highlight-text-color: #E93B3B;

$primary-btn-color: #0091FF;

$default-bg-color: #F5F5F5;

$main-border-color: #F1F1F1;

$light-color: #FFF;